* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  min-height: 100vh;
  margin: 0;
  font-size: medium;
}

.card {
  background-color: rgb(156, 0, 0);
  width: 300px;
  text-align: center;
  padding: 40px;
  border-radius: 26px;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 16px;
  background-color: black;
  border-radius: 15%;
  width: 200px;
}

.column-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
